In [2]:
import os
import pandas as pd
import json

In [3]:
# Aggregated Transaction
path1 = "C:/Users/admin/Desktop/Guvi-Data Science/Streamlit/pulse/data/aggregated/transaction/country/india/state/"
agg_state_list = os.listdir(path1)

data_dict3 = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}

transactions = [d for d in agg_state_list if os.path.isdir(os.path.join(path1, d))]

for state in transactions:
    state_path = os.path.join(path1, state)
    years = [os.path.join(state_path, y) for y in os.listdir(state_path) if os.path.isdir(os.path.join(state_path, y))]

    for year_path in years:
        files = [os.path.join(year_path, f) for f in os.listdir(year_path) if os.path.isfile(os.path.join(year_path, f))]

        for file_path in files:
            with open(file_path, 'r') as data_file:
                A= json.load(data_file)
                for item in A['data']['transactionData']: 
                    trans_type = item['name']
                    trans_count = item['paymentInstruments'][0]['count']
                    trans_amount = item['paymentInstruments'][0]['amount']
                    data_dict3['Transaction_type'].append(trans_type)
                    data_dict3['Transaction_count'].append(trans_count)
                    data_dict3['Transaction_amount'].append(trans_amount)
                    data_dict3['State'].append(state)
                    data_dict3['Year'].append(os.path.basename(year_path))
                    data_dict3['Quater'].append(int(os.path.splitext(os.path.basename(file_path))[0]))

# Successfully created a DataFrame
agg_transaction_df = pd.DataFrame(data_dict3)
agg_transaction_df

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4309,west-bengal,2023,4,Merchant payments,354067997,2.390738e+11
4310,west-bengal,2023,4,Peer-to-peer payments,317959249,9.641385e+11
4311,west-bengal,2023,4,Recharge & bill payments,64920775,4.531943e+10
4312,west-bengal,2023,4,Financial Services,480740,4.590073e+08
4313,west-bengal,2023,4,Others,524477,4.041567e+08

In [4]:
# Aggregated User
path2 = "C:/Users/admin/Desktop/Guvi-Data Science/Streamlit/pulse/data/aggregated/user/country/india/state/"
agg_state_list = os.listdir(path2)

data_dict3 = {'State': [], 'Year': [], 'Quater': [], 'Brands': [], 'Transaction_count': [], 'Percentage': []}

transactions = [d for d in agg_state_list if os.path.isdir(os.path.join(path1, d))]

for state in transactions:
    state_path = os.path.join(path2, state)
    years = [os.path.join(state_path, y) for y in os.listdir(state_path) if os.path.isdir(os.path.join(state_path, y))]

    for year_path in years:
        files = [os.path.join(year_path, f) for f in os.listdir(year_path) if os.path.isfile(os.path.join(year_path, f))]

        for file_path in files:
            with open(file_path, 'r') as data_file:
                B = json.load(data_file)

                users_by_device_data = B.get('data', {}).get('usersByDevice')
                
                # Check if users_by_device_data is None before iterating
                if users_by_device_data is not None:
                    for item in users_by_device_data:
                        brand = item.get("brand", '')
                        count = item.get("count", 0)
                        percentage = item.get("percentage", 0)

                        data_dict3["Brands"].append(brand)
                        data_dict3["Transaction_count"].append(count)
                        data_dict3["Percentage"].append(percentage)
                        data_dict3['State'].append(state)
                        data_dict3['Year'].append(os.path.basename(year_path))
                        data_dict3['Quater'].append(int(os.path.splitext(os.path.basename(file_path))[0]))

# Successfully created a DataFrame
agg_transaction_df = pd.DataFrame(data_dict3)
agg_transaction_df

,State,Year,Quater,Brands,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

In [11]:
# Aggregated Insurance
path_insurance = "C:/Users/admin/Desktop/Guvi-Data Science/Streamlit/pulse/data/map/insurance/country/india/state"
agg_insurance_state_list = os.listdir(path_insurance)

data_dict_insurance = {'State': [], 'Year': [], 'Quater': [], 'Brands': [], 'Transaction_count': [], 'Percentage': []}

insurance_transactions = [d for d in agg_insurance_state_list if os.path.isdir(os.path.join(path_insurance, d))]

for state in insurance_transactions:
    state_path = os.path.join(path_insurance, state)
    years = [os.path.join(state_path, y) for y in os.listdir(state_path) if os.path.isdir(os.path.join(state_path, y))]

    for year_path in years:
        files = [os.path.join(year_path, f) for f in os.listdir(year_path) if os.path.isfile(os.path.join(year_path, f))]

        for file_path in files:
            with open(file_path, 'r') as data_file:
                insurance_data = json.load(data_file)

                # Modify the code to extract information based on the actual structure of insurance_data
                # This is a generic template, and you may need to adjust it based on the actual keys in your JSON data
                lat_lng_data = insurance_data.get('data', {}).get('data', [])

                for item in lat_lng_data:
                    lat = item[0]
                    lng = item[1]
                    metric = item[2]
                    label = item[3]

                    # Add your logic to extract information about brands, transaction count, and percentage
                    # For now, I'll just use placeholders
                    brand = "ExampleBrand"
                    count = 100
                    percentage = 10.0

                    data_dict_insurance["Brands"].append(brand)
                    data_dict_insurance["Transaction_count"].append(count)
                    data_dict_insurance["Percentage"].append(percentage)
                    data_dict_insurance['State'].append(state)
                    data_dict_insurance['Year'].append(os.path.basename(year_path))
                    data_dict_insurance['Quater'].append(int(os.path.splitext(os.path.basename(file_path))[0]))

# Successfully created a DataFrame
agg_insurance_df = pd.DataFrame(data_dict_insurance)
agg_insurance_df

,State,Year,Quater,Brands,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2020,2,ExampleBrand,100,10.0
1,andaman-&-nicobar-islands,2020,2,ExampleBrand,100,10.0
2,andaman-&-nicobar-islands,2020,3,ExampleBrand,100,10.0
3,andaman-&-nicobar-islands,2020,3,ExampleBrand,100,10.0
4,andaman-&-nicobar-islands,2020,4,ExampleBrand,100,10.0
...,...,...,...,...,...,...
1075,west-bengal,2023,2,ExampleBrand,100,10.0
1076,west-bengal,2023,3,ExampleBrand,100,10.0
1077,west-bengal,2023,3,ExampleBrand,100,10.0
1078,west-bengal,2023,4,ExampleBrand,100,10.0
1079,west-bengal,2023,4,ExampleBrand,100,10.0

In [5]:
# Map Transaction 
path3 = "C:/Users/admin/Desktop/Guvi-Data Science/Streamlit/pulse/data/map/transaction/hover/country/india/state/"
map_hover_state_list = os.listdir(path3)

data_dict_map_hover_transaction = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}

map_hover_transactions = [d for d in map_hover_state_list if os.path.isdir(os.path.join(path3, d))]

for state in map_hover_transactions:
    state_path = os.path.join(path3, state)
    years = [os.path.join(state_path, y) for y in os.listdir(state_path) if os.path.isdir(os.path.join(state_path, y))]

    for year_path in years:
        files = [os.path.join(year_path, f) for f in os.listdir(year_path) if os.path.isfile(os.path.join(year_path, f))]

        for file_path in files:
            with open(file_path, 'r') as data_file:
                map_hover_data = json.load(data_file)
                for item in map_hover_data['data']['hoverDataList']:
                    for metric in item['metric']:
                        trans_type = f"{item['name']} - {metric['type']}"
                        trans_count = metric['count']
                        trans_amount = metric['amount']
                        data_dict_map_hover_transaction['Transaction_type'].append(trans_type)
                        data_dict_map_hover_transaction['Transaction_count'].append(trans_count)
                        data_dict_map_hover_transaction['Transaction_amount'].append(trans_amount)
                        data_dict_map_hover_transaction['State'].append(state)
                        data_dict_map_hover_transaction['Year'].append(os.path.basename(year_path))
                        data_dict_map_hover_transaction['Quater'].append(int(os.path.splitext(os.path.basename(file_path))[0]))

# Successfully created a DataFrame
map_hover_transaction_df = pd.DataFrame(data_dict_map_hover_transaction)
map_hover_transaction_df

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district - TOTAL,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district - TOTAL,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district - TOTAL,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district - TOTAL,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district - TOTAL,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district - TOTAL,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district - TOTAL,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district - TOTAL,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district - TOTAL,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district - TOTAL,16807885,2.793986e+10

In [8]:
# Map User 
path_map_user_hover = "C:/Users/admin/Desktop/Guvi-Data Science/Streamlit/pulse/data/map/user/hover/country/india/state/"
map_user_hover_state_list = os.listdir(path_map_user_hover)

data_dict_map_user_hover = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'RegisteredUsers': [], 'AppOpens': []}


map_user_hover_states = [d for d in map_user_hover_state_list if os.path.isdir(os.path.join(path_map_user_hover, d))]

for state in map_user_hover_states:
    state_path = os.path.join(path_map_user_hover, state)
    years = [os.path.join(state_path, y) for y in os.listdir(state_path) if os.path.isdir(os.path.join(state_path, y))]

    for year_path in years:
        files = [os.path.join(year_path, f) for f in os.listdir(year_path) if os.path.isfile(os.path.join(year_path, f))]

        for file_path in files:
            with open(file_path, 'r') as data_file:
                map_user_hover_data = json.load(data_file)
                
                # Check if 'data' key exists, and then access 'hoverData'
                if 'data' in map_user_hover_data and 'hoverData' in map_user_hover_data['data']:
                    hover_data = map_user_hover_data['data']['hoverData']
                    
                    for district, district_data in hover_data.items():
                        registered_users = district_data.get('registeredUsers', 0)
                        app_opens = district_data.get('appOpens', 0)
                        
                        # Add your logic to process the data as needed
                        # For example, you can add this information to your DataFrame
                        data_dict_map_user_hover['State'].append(state)
                        data_dict_map_user_hover['Year'].append(os.path.basename(year_path))
                        data_dict_map_user_hover['Quater'].append(int(os.path.splitext(os.path.basename(file_path))[0]))
                        data_dict_map_user_hover['District'].append(district)
                        data_dict_map_user_hover['RegisteredUsers'].append(registered_users)
                        data_dict_map_user_hover['AppOpens'].append(app_opens)

# Successfully created a DataFrame
map_user_hover_df = pd.DataFrame(data_dict_map_user_hover)
map_user_hover_df

,State,Year,Quater,District,RegisteredUsers,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
17563,west-bengal,2023,4,nadia district,1603527,67224546
17564,west-bengal,2023,4,birbhum district,1013025,52281841
17565,west-bengal,2023,4,purba medinipur district,1589203,69991821
17566,west-bengal,2023,4,maldah district,1134600,88292475
17567,west-bengal,2023,4,darjiling district,660231,39079247